{% extends 'base.html.twig' %}

{% block title %}Gra w Paczkę{% endblock %}

{% block body %}
    <div class="container-lg">
        <h1 class="display-3 text-center p-5">Światowy ranking gry w paczkę</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Gracz</th>
                <th scope="col">Punkty</th>
                <th scope="col">Zwycięstwa</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ player.name }}</td>
                    <td>{{ player.points }}</td>
                    <td>{{ player.wins }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
