{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="pb-2 pt-4">Zasady gry w paczkę </h1>
        <p>W grze bierze udział minimum dwóch graczy. Do gry będzie potrzebna standardowa paczka papierosów oraz 0.5l
            piwa na każdego gracza.</p>
        <div class="margin">
            <img src="/assets/Paczka1.png" height="200"><img src="/assets/Paczka2.png" height="200">
        </div>

        <h3>Paczka:</h3>
        <p>Paczka powinna być standardowego rozmiaru 68mm x 22mm x 52mm. Nie powinna być to paczka od tzw. "setek" ani
            "linków".</p>
        <div class="margin">
            <img src="/assets/PaczkaW.png" height="200">
        </div>

        <h3>Piwo:</h3>
        <p>Każdy gracz powinien być wyposażony w 0.5l piwa w transparentnym naczyniu.</p>
        <div class="margin">
            <img src="/assets/PaczkaBeforeYouStart.png" height="150">
        </div>

        <h3>Rozpoczęcie gry:</h3>
        <p>Grę zaczyna gracz, który zakończył ostatnio rozegrany mecz z najniższym wynikiem.
            Jeśli gracz gra pierwszy raz rozpoczyna grę.
            Jeśli wszyscy gracze grają pierwszy raz lub nie pamiętają ostatnich wyników, wszyscy gracze rzucają jeden
            raz paczką, osoba z najwyższym wynikiem wybiera kto rozpoczyna grę.</p>

        <h3>Rozgrywka:</h3>
        <p>Gracze rzucają paczką kolejno wraz z kierunkiem ruchu wskazówek zegara. Przy każdym rzucie można osiągnąć od
            1 do 3 punktów:</p>

        <ul>
            <li>paczka upadła na "płasko" - 1pkt</li>
            <li>paczka upadła na "stojąco" na dłuższym boku - 2pkt</li>
            <li>paczka upadła na "stojąco" na krótszym boku - 3pkt</li>
        </ul>
        <div class="margin">
            <img src="/assets/Paczka1P.png" height="200"><img src="/assets/Paczka2P.png" height="200"><img
                src="/assets/Paczka3P.png" height="200">
        </div>

        <p>Każdy gracz musi wyrzucić liczbę punktów równą lub wyższą niż gracz go poprzedzający. Po każdym udanym rzucie
            punkty dodawane są do puli punktów. Pula punktów może maksymalnie wynosić 15 pkt. Po osiągnięciu 15 pkt pula
            jest zerowana. Przykładowo jeśli w puli znajduje się 14 punktów i kolejny udany rzut powinien dodać do niej
            2pkt to pula będzie wynosić 1pkt zamiast 16.</p>

        <p>Jeśli gracz wyrzuci liczbę niższą niż gracz go poprzedzający musi wypić liczbę łyków piwa równą punktom w
            puli.</p>

        <p>Po wypiciu karnych łyków pula punktów jest zerowana, a gracz, który odbył karę rozpoczyna nową turę.</p>

        <h3>Podwajanie:</h3>
        <p>Jeśli gracz przegra turę ma możliwość kontynuowania gry po przez podwajanie.
            Jeśli gracz oznajmia, że podwaja ma możliwość ponownego rzutu i ominięcia karnych łyków, jeśli jednak nie
            uda mu się
            poprawić wyniku musi wypić podwójną liczbę łyków. Po wypiciu karnych łyków pula punktów jest zerowana.
            Rozpoczyna gracz, który pił.</p>

        <h3>Wygrana:</h3>
        <p>Gracz, który opróżni swoje piwo opuszcza rozgrywkę, gra toczy się do momentu aż nie pozostanie tylko jeden
            gracz
            z piwem.</p>

        <h3>Przykładowa rozgrywka:</h3>
        <p>Gracz 1 zakończył ostatnią rozgrywkę z najniższym wynikiem, więc rozpoczyna grę. Wyrzuca 1 pkt. Kolejka
            przechodzi
            do Gracza 2, który wyrzuca 2 pkt. W puli znajdują się razem 3 pkt. Gracz 3 wyrzuca 1 pkt. postanawia nie
            podwajać i wypija
            trzy łyki piwa, następnie rozpoczyna wyrzucając 2 pkt. W puli znajdują się teraz 2 pkt. Kolejka wraca do
            Gracza 1, który wyrzuca
            1 pkt. i postanawia podwoić. Nestety wyrzuca jedynkę więc musi wypić podwójną liczbę łyków (2x2=4).</p>
    </div>
{% endblock %}
