<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid flex-lg-column">
        <button id="menuButton" class="navbar-toggler align-self-start " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="logo mx-auto" href="#">Paczka</a>
        <div class="dropdown-divider w-100"></div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('players') }}">Ranking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('manual') }}">Instrukcja</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
